node_modules/
example-project/cache/
example-project/deploy/
example-project/.editor/
example-project/.autosave/
package/docs/
package/dist/
lazy-widgets-*.tgz
imgui.ini
*.sublime-project
*.sublime-workspace
